</head>

<body>
    <div class="navbar">
        <div class="container">
            <a href="/" class="<%= path ==='/'?'active':''%>">Shop</a>
            <a href="/products" class="<%= path ==='/products'?'active':''%>">Products</a>
            <a href="/cart" class="<%= path ==='/cart'?'active':''%>">Cart</a>
            <a href="/admin/add-product" class="<%= path ==='/admin/add-product'?'active':''%>">Add Product</a>
            <a href="/admin/products" class="<%= path ==='/admin/products'?'active':''%>">Admin Products</a>
        </div>
    </div>