<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/cart.css">

    <head>

    <body>
        <%- include('../includes/navigation.ejs')%>
            <div class="cart">

                <h1>Shopping Cart</h1>
                <%if(products.length>0){%>
                    <table>
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Subtotal</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="cart-items">
                            <% products.forEach(p=>{%>
                                <tr>
                                    <td>
                                        <%= p.productData.productName %>
                                    </td>
                                    <td>
                                        <%= p.qty %>
                                    </td>
                                    <td>
                                        <%= p.productData.productPrice %>
                                    </td>
                                    <td>
                                        <%= (p.productData.productPrice* p.qty).toFixed(2) %>
                                    </td>
                                    <td>
                                        <form method="POST" action="/cart-delete-item">
                                            <input type="hidden" value="<%=p.productData.uid%>" name="productId">
                                            <button type="submit" class="btn">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                <%})%>
                        </tbody>
                    </table>
                    <div class="total" id="total-amount">
                        Total: $<%= products.total%>
                    </div>
                    <%}else{%>
                        <p>Shopping cart is empty</p>
                        <%}%>
            </div>
            <%- include('../includes/end.ejs')%>