<%- include("../includes/header.ejs")%>
    <link rel="stylesheet" href="/css/shop/productDetails.css"/>
    </head>
    <body>
        <%- include("../includes/navbar.ejs")%>
        <div class="container my-5 border border-light p-5">
            <div class="row">
                <div class="col-lg-6 mb-4 mb-lg-0 border border-light p-2">
                    <img src="<%= product.imageUrl%>" alt="<%= product.title%>" class="product-image">
                    </div>
                    <div class="col-lg-6">
                        <h1 class="product-title"><%= product.title%></h1>
                        <p class="product-price">$<%= product.price%></p>
                        <p class="product-description text-justify">
                            <%= product.description%>
                        </p>
                       
                    </div>
                </div>
                <div>
                    <div class="w-100 text-center mt-5 d-flex flex-row justify-content-between">
                        <a href="/" class="btn btn-primary home-page-btn btn-danger">
                            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                            &nbsp;Back
                        </a>
                        
                        <form action="/add-to-cart" method="post">
                               <input type="hidden" value="<%= product.id%>" name="productId"/>
                            <button class="btn btn-primary add-to-cart-button btn-success">
                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                &nbsp;Add to Cart
                            </button>
                              </form>
                    </div>
                   
                </div>
            </div>
<%- include("../includes/end.ejs")%>
